*{
  margin: 0;
  padding: 0;
}
p{
  color: #888ca8;
}
.RewardsCards,.card{
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);

        transition: transform .2s;
        border-radius: 20px;
}
.RewardsCards:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.icon {
  font-size: 40px;
}
.facebook {
  color: #3b5998;
}
.instagram {
  color: #e84393;
}
.youtube {
  color: #e84118;
}
.twitter {
  color: #0097e6;
}
.activeButton{
background: #CE8823;
  color: white;
  border: 1px solid #CE8823;
}
.btn:hover{
background: #CE8823;
color: white;
}
.btn-outline-info{
border: 1px solid #CE8823;
color: black;
border: 1px solid #CE8823;
}
.btn-outline-info:hover
{
border: 1px solid #CE8823;

}
.sidenav{
height: 500px;
background-color:#32383e;
color: white;
padding: 10px;
}
.vertical-menu a {

color: black;
display: block;
padding: 12px;
text-decoration: none;
text-align: center;
}

@media only screen and (min-width: 700px) {
.carousel1{
 opacity: 0.9;
}
}
.Dashboardbuttons{
margin-top: 70px;
}
@media only screen and (max-width: 600px) {
.sidenav{
  height: 180px;
  background-color:white;
  color: black;
}
.donateButton{
  margin: auto;
  justify-content: center;
    width: fit-content;
    margin-top: 31px;
}
.brandSize{
  font-size: small;
}
.navbar-nav{
  padding: 10px;
}
.Dashboardbuttons{
  margin-top: 184px;
}
.head2{
  font-size: 24px;

}
.head4{
  font-size: 14px;
}
}

.modal-dialog {
min-height: calc(100vh - 60px);
display: flex;
flex-direction: column;
justify-content: center;
overflow: auto;
@media(max-width: 768px) {
  min-height: calc(100vh - 20px);
}
}

.donate{
background: #CE8823!important;
color: white!important;
border: #CE8823;
}

.acceptIcon:hover{
background: green;
color: white;

border-radius: 2px;

}

.rejectIcon:hover{
background: red;
color: white;

border-radius: 2px;
}
html{
scroll-behavior: smooth;

}

body {
font-family: 'Poppins', sans-serif;
}
header .carousel-inner .item {
height: 100vh;
}
.navbar-inverse {
background-color: transparent;
border-color: transparent;
}
.navbar-inverse .navbar-brand {
color: #fff;
font-size: 40px;
padding: 40px 15px;
font-weight: 900;
}
.nav.navbar-nav.navbar-right {
margin: 25px 0;
}
.navbar-inverse .navbar-nav>li>a {
color: #fff;
text-transform: uppercase;
}
.banner {
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 100vh;
}
.carousel-caption {
padding-bottom: 100px;
font-family: poppins;
}
.carousel-caption h2 {
font-size: 70px;
text-transform: uppercase;
font-weight: bold;
}
.carousel-caption h2 span {
color: #EDBB00;
}
.carousel-caption a {
background: #EDBB00;
padding: 15px 35px;
display: inline-block;
margin-top: 15px;
color: #fff;
text-transform: uppercase;
border-radius: 25px;
}
.carousel-control.right {
background-image: none;
}
.carousel-control.left {
background-image: none;
}
.carousel-indicators .active {
background-color: #EDBB00;
border-color: #EDBB00;
}
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
.carousel-caption {
  padding-bottom: 350px;
}
.carousel-caption h2 {
  font-size: 50px;
}
}
@media only screen and (max-width: 767px) {
.navbar-inverse .navbar-brand {
  font-size: 30px;
  padding: 20px 15px;
}

.carousel-caption {
  padding-bottom: 120px;
}
.carousel-caption h2 {
  font-size: 25px;
}
.carousel-caption h3 {
  font-size: 18px;
}
.carousel-caption a {
  padding: 10px 25px;
}
}